<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>ua.com.servlet.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/books</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBooks</servlet-name>
    <servlet-class>ua.com.servlet.AddBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/add_books</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAuthor</servlet-name>
    <servlet-class>ua.com.servlet.AddAuthor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAuthor</servlet-name>
    <url-pattern>/authors</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAuthorImpl</servlet-name>
    <servlet-class>ua.com.servlet.AddAuthorImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAuthorImpl</servlet-name>
    <url-pattern>/add_author</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBoo</servlet-name>
    <servlet-class>ua.com.servlet.AddBoo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBoo</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBooImpl</servlet-name>
    <servlet-class>ua.com.servlet.AddBooImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBooImpl</servlet-name>
    <url-pattern>/add_book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPublisher</servlet-name>
    <servlet-class>ua.com.servlet.AddPublisher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPublisher</servlet-name>
    <url-pattern>/publisher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPublisherImpl</servlet-name>
    <servlet-class>ua.com.servlet.AddPublisherImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPublisherImpl</servlet-name>
    <url-pattern>/add_publisher</url-pattern>
  </servlet-mapping>
</web-app>